<div class="row">
	<div class="col-xs-12">

		<form [formGroup]="recipeForm" (ngSubmit)="onSubmitForm()">

			<!-- Buttons 'Save' and 'Cancel' -->
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-success" type="submit" [disabled]="!recipeForm.valid">Save</button>
					<button class="btn btn-danger" type="button" (click)="onCancelForm()">Cancel</button>
				</div>
			</div>

			<!--Input 'Name' -->
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">Name</label>
						<input class="form-control" type="text" id="name" formControlName="name"
							placeholder="Recipe name ...">
					</div>
				</div>
			</div>

			<!--Input 'Image URL' -->
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="imagePath">Image URL</label>
						<input class="form-control" type="text" id="imagePath" formControlName="imagePath"
							placeholder="Recipe image ..." #imagePath>
					</div>
				</div>
			</div>

			<!--Image Pre-view -->
			<div class="row">
				<div class="col-xs-12">
					<img [src]="imagePath.value" class="img-responsive">
				</div>
			</div>

			<!--Input 'Description' -->
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="description">Description</label>
						<textarea class="form-control" type="text" id="description" rows="6"
							formControlName="description" placeholder="Enter description here ..."></textarea>
					</div>
				</div>
			</div>

			<!--Inputs for the 'Ingredients' -->
			<div class="row">
				<div class="col-xs-12" formArrayName="ingredients">
					<div class="row" *ngFor="let control of getControls(); let i=index" [formGroupName]="i" style="margin-top: 5px;">

						<div class="col-xs-8">
							<input class="form-control" type="text" formControlName="name" placeholder="Ingredient name ...">
						</div>

						<div class="col-xs-2">
							<input class="form-control" type="number" formControlName="amount" placeholder="amount ...">
						</div>

						<div class="col-xs-2">
							<button class="btn btn-danger" type="button" (click)="onRemoveIngredient(i)">X</button>
						</div>

					</div>
				</div>
			</div>

			<hr>
				
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
				</div>
			</div>

		</form>

	</div>
</div>